DB_HOST=localhost
DB_PORT=5432
DB_NAME=apidb
DB_USER=apiuser
DB_PASSWORD=""
DB_POOL_MAX=10

PORT=3001
NODE_ENV=production

NEXT_PUBLIC_APP_NAME=NextJS Fullstack App
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001