# Compose project name
COMPOSE_PROJECT_NAME=microservices

# User DB
USER_DB_NAME=userdb
USER_DB_USER=userservice
USER_DB_PASSWORD=userpass

# Order DB
ORDER_DB_NAME=orderdb
ORDER_DB_USER=orderservice
ORDER_DB_PASSWORD=orderpass

# MongoDB
MONGO_INITDB_DATABASE=productdb

# Redis
REDIS_PORT=6379

# API Gateway
RATE_LIMIT=100

# Frontend
FRONTEND_PORT=8081
FRONTEND_SSL_PORT=8443
